# LaTeX intermediate and build files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.dvi
*.nav
*.snm
*.vrb
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.run.xml
*.pdfsync
*.xdv

# SyncTeX files
*.synctex.gz

# Temporary files
*~
*.bak
*.tmp

# Editors
.vscode/
*.swp
